{% extends 'base.html' %}

{% block content %}
<h2>Books in the Library</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Available Copies</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.book_id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.available_copies }}</td>
            <td>{{ book.loan_status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}